In [ ]:
# PANDAS -> 500k, deal with multiple types of files, data frames
# numpy -> arrays(nd)
# clean the data -> data wrangling or data munging

In [ ]:
pip install pandas
conda install pandas

Requirement already satisfied: pandas in c:\users\admin\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\admin\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import pandas as pd
print(pd.__version__)

1.4.2

In [ ]:
# 3 data structures
# Series -> 1d
# data frames -> 2d
# Panels -> 3d(nd)

In [ ]:
# Series (1d)
# nums = pd.Series([1, 2, 3, 4])
# print(nums, type(nums))


# list_nums = [10, 20, 30, 40]
# nums = pd.Series(list_nums)
# print(nums, type(nums))
# print(nums[0], nums[1], nums[2], nums[3], nums[4])

# list_nums = [10, 20, 30, 40]
# nums = pd.Series(list_nums, index=['a', 'b', 'c', 'd'])
# # print(nums)
# print(nums['a'], nums['b'], nums['c'], nums['d']) # custom index
# print(nums[0], nums[1], nums[2], nums[3]) # default index

# dictionary to series
person = {
    "name": "vasi",
    "age": 20,
    "daughter": {
        "name": "aaradhana"
    },
    "cars": ["mercedez", "bmw", "audi"]
}

person_series = pd.Series(person)
# print(person_series)
# print(person['name'], person['age'])
# print(person_series['daughter'])
# print(person_series['cars'])

['mercedez', 'bmw', 'audi']

In [ ]:
# data frames or data set (2d)
person = {
    "cars": ["mercedez", "bmw", "audi"],
    "bikes": ["tvs", "ninja", "suzuki"]
}

# print(person, type(person))
person_assets = pd.DataFrame(person)
# print(person_assets)
# print(type(person_assets))

       cars   bikes
0  mercedez     tvs
1       bmw   ninja
2      audi  suzuki
<class 'pandas.core.frame.DataFrame'>

In [ ]:
# read the data from files -> data frames(df)
# csv
# df = pd.read_csv('./mtcars.csv')
# df

# read excel file
df = pd.read_excel('./somecars1.xls')
df

      MPG  Cylinders  Displacement  Horsepower  Weight  Acceleration  Year
0    18.0          8         307.0       130.0    3504          12.0    70
1    15.0          8         350.0       165.0    3693          11.5    70
2    18.0          8         318.0       150.0    3436          11.0    70
3    16.0          8         304.0       150.0    3433          12.0    70
4    17.0          8         302.0       140.0    3449          10.5    70
..    ...        ...           ...         ...     ...           ...   ...
389  27.0          4         140.0        86.0    2790          15.6    82
390  44.0          4          97.0        52.0    2130          24.6    82
391  32.0          4         135.0        84.0    2295          11.6    82
392  28.0          4         120.0        79.0    2625          18.6    82
393  31.0          4         119.0        82.0    2720          19.4    82

[394 rows x 7 columns]

In [ ]:
# reading the data
df = pd.read_csv('./mtcars.csv')
df

# columns
# print(df.columns, type(df.columns))
# print(df.hp, df.mpg) # not recommended
# print(df['Unnamed: 1'])
# print(df['hp'])
# print(df['mpg'][3])

# multiple columns
# print(df[['Unnamed: 1', 'hp', 'mpg']])

# columns = ['Unnamed: 1', 'hp', 'mpg']
# df[columns]

# rows
df.head() # top 5 data
df.head(7)
df.head(-3) # skip last 3 data

df.tail() # bottom 5 data
df.tail(3)
df.tail(-3) # top 3 will be skipped

,S.No,Unnamed: 1,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
3,4,Hornet 4 Drive,21.4,6.0,258.0,110.0,3.08,3.215,19.44,1.0,0,3,1
4,5,Hornet Sportabout,18.7,8.0,360.0,175.0,3.15,3.440,17.02,0.0,0,3,2
5,6,Valiant,18.1,6.0,225.0,105.0,2.76,3.460,NaN,1.0,0,3,1
6,7,Duster 360,14.3,8.0,360.0,245.0,3.21,3.570,15.84,0.0,0,3,4
7,8,Merc 240D,24.4,4.0,146.7,62.0,3.69,3.190,20.00,1.0,0,4,2
8,9,Merc 230,22.8,4.0,140.8,NaN,3.92,3.150,22.90,1.0,0,4,2
9,10,Merc 280,19.2,6.0,167.6,123.0,3.92,3.440,18.30,1.0,0,4,4
10,11,Merc 280C,17.8,6.0,167.6,123.0,3.92,3.440,18.90,1.0,0,4,4
11,12,Merc 450SE,16.4,8.0,275.8,180.0,3.07,4.070,17.40,0.0,0,3,3
12,13,Merc 450SL,17.3,8.0,NaN,180.0,3.07,3.730,17.60,0.0,0,3,3
13,14,Merc 450SLC,15.2,8.0,NaN,180.0,3.07,3.780,18.00,0.0,0,3,3
14,15,Cadillac Fleetwood,10.4,8.0,NaN,NaN,2.93,5.250,17.98,0.0,0,3,4
15,16,Lincoln Continental,10.4,8.0,460.0,215.0,3.00,5.424,17.82,0.0,0,3,4
16,17,Chrysler Imperial,14.7,8.0,440.0,230.0,3.23,5.345,17.42,0.0,0,3,4
17,18,Fiat 128,32.4,4.0,78.7,66.0,4.08,2.200,NaN,1.0,1,4,1
18,19,NaN,30.4,4.0,75.7,52.0,4.93,1.615,18.52,1.0,1,4,2
19,20,NaN,33.9,4.0,71.1,65.0,4.22,1.835,19.90,1.0,1,4,1
20,21,NaN,21.5,4.0,120.1,97.0,3.70,2.465,20.01,1.0,0,3,1
21,22,NaN,15.5,8.0,318.0,150.0,2.76,3.520,16.87,0.0,0,3,2
22,23,AMC Javelin,15.2,8.0,304.0,150.0,3.15,3.435,17.30,0.0,0,3,2
23,24,Camaro Z28,13.3,8.0,350.0,245.0,3.73,3.840,15.41,0.0,0,3,4
24,25,Pontiac Firebird,19.2,8.0,400.0,175.0,3.08,3.845,17.05,0.0,0,3,2
25,26,Fiat X1-9,27.3,4.0,79.0,66.0,4.08,1.935,NaN,1.0,1,4,1
26,27,Porsche 914-2,26.0,4.0,120.3,91.0,4.43,2.140,16.70,0.0,1,5,2
27,28,Lotus Europa,30.4,4.0,95.1,113.0,3.77,1.513,16.90,1.0,1,5,2
28,29,Ford Pantera L,15.8,8.0,351.0,264.0,4.22,3.170,14.50,0.0,1,5,4
29,30,Ferrari Dino,19.7,6.0,145.0,175.0,3.62,2.770,15.50,0.0,1,5,6
30,31,Maserati Bora,15.0,8.0,301.0,335.0,3.54,3.570,14.60,0.0,1,5,8
31,32,Volvo 142E,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2,3

In [ ]:
# locators
# index locators -> iloc(rows, cols) -> iloc((start: end+1: step), (start: end+1: step))
# df.iloc[0]
df.iloc[0, 3]
# df.iloc[0, 5]

# single row multiple cols
# df.iloc[0, 1:4]
# df.iloc[2, 2:8:2]

# multiple rows and multiple cols
# df.iloc[-1:-5, 4:8]
# df.iloc[-1:-5:-1, 4:8]
# df.iloc[2:-4, 3:5]

# df.shape

# locators -> keys(row index, column_names)
# df.loc[0]['cyl']
# df.loc[0, 'cyl']
# df.loc[0, 'cyl': 'wt']
# df.loc[0:2, 'hp': 'gear']

# set index
df = pd.read_csv('./mtcars.csv')
df
# new_df = df.set_index('Unnamed: 1')
# new_df
# new_df.loc['Datsun 710']

# reset index
new_df = new_df.reset_index()
new_df

,index,Unnamed: 1,S.No,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,0,Mazda RX4,1,21.0,6.0,160.0,110.0,3.90,2.620,16.46,0.0,1,4,4
1,1,Mazda RX4 Wag,2,21.0,6.0,160.0,110.0,3.90,2.875,17.02,0.0,1,4,4
2,2,Datsun 710,3,22.8,4.0,108.0,93.0,3.85,2.320,18.61,1.0,1,4,1
3,3,Hornet 4 Drive,4,21.4,6.0,258.0,110.0,3.08,3.215,19.44,1.0,0,3,1
4,4,Hornet Sportabout,5,18.7,8.0,360.0,175.0,3.15,3.440,17.02,0.0,0,3,2
5,5,Valiant,6,18.1,6.0,225.0,105.0,2.76,3.460,NaN,1.0,0,3,1
6,6,Duster 360,7,14.3,8.0,360.0,245.0,3.21,3.570,15.84,0.0,0,3,4
7,7,Merc 240D,8,24.4,4.0,146.7,62.0,3.69,3.190,20.00,1.0,0,4,2
8,8,Merc 230,9,22.8,4.0,140.8,NaN,3.92,3.150,22.90,1.0,0,4,2
9,9,Merc 280,10,19.2,6.0,167.6,123.0,3.92,3.440,18.30,1.0,0,4,4
10,10,Merc 280C,11,17.8,6.0,167.6,123.0,3.92,3.440,18.90,1.0,0,4,4
11,11,Merc 450SE,12,16.4,8.0,275.8,180.0,3.07,4.070,17.40,0.0,0,3,3
12,12,Merc 450SL,13,17.3,8.0,NaN,180.0,3.07,3.730,17.60,0.0,0,3,3
13,13,Merc 450SLC,14,15.2,8.0,NaN,180.0,3.07,3.780,18.00,0.0,0,3,3
14,14,Cadillac Fleetwood,15,10.4,8.0,NaN,NaN,2.93,5.250,17.98,0.0,0,3,4
15,15,Lincoln Continental,16,10.4,8.0,460.0,215.0,3.00,5.424,17.82,0.0,0,3,4
16,16,Chrysler Imperial,17,14.7,8.0,440.0,230.0,3.23,5.345,17.42,0.0,0,3,4
17,17,Fiat 128,18,32.4,4.0,78.7,66.0,4.08,2.200,NaN,1.0,1,4,1
18,18,NaN,19,30.4,4.0,75.7,52.0,4.93,1.615,18.52,1.0,1,4,2
19,19,NaN,20,33.9,4.0,71.1,65.0,4.22,1.835,19.90,1.0,1,4,1
20,20,NaN,21,21.5,4.0,120.1,97.0,3.70,2.465,20.01,1.0,0,3,1
21,21,NaN,22,15.5,8.0,318.0,150.0,2.76,3.520,16.87,0.0,0,3,2
22,22,AMC Javelin,23,15.2,8.0,304.0,150.0,3.15,3.435,17.30,0.0,0,3,2
23,23,Camaro Z28,24,13.3,8.0,350.0,245.0,3.73,3.840,15.41,0.0,0,3,4
24,24,Pontiac Firebird,25,19.2,8.0,400.0,175.0,3.08,3.845,17.05,0.0,0,3,2
25,25,Fiat X1-9,26,27.3,4.0,79.0,66.0,4.08,1.935,NaN,1.0,1,4,1
26,26,Porsche 914-2,27,26.0,4.0,120.3,91.0,4.43,2.140,16.70,0.0,1,5,2
27,27,Lotus Europa,28,30.4,4.0,95.1,113.0,3.77,1.513,16.90,1.0,1,5,2
28,28,Ford Pantera L,29,15.8,8.0,351.0,264.0,4.22,3.170,14.50,0.0,1,5,4
29,29,Ferrari Dino,30,19.7,6.0,145.0,175.0,3.62,2.770,15.50,0.0,1,5,6
30,30,Maserati Bora,31,15.0,8.0,301.0,335.0,3.54,3.570,14.60,0.0,1,5,8
31,31,Volvo 142E,32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2,3

In [ ]:
new_df.head()

,S.No,Unnamed: 1,mpg,cyl,disp,drat,wt,qsec,vs,am,gear,carb
hp,,,,,,,,,,,,
110.0,1,Mazda RX4,21.0,6.0,160.0,3.90,2.620,16.46,0.0,1,4,4
110.0,2,Mazda RX4 Wag,21.0,6.0,160.0,3.90,2.875,17.02,0.0,1,4,4
93.0,3,Datsun 710,22.8,4.0,108.0,3.85,2.320,18.61,1.0,1,4,1
110.0,4,Hornet 4 Drive,21.4,6.0,258.0,3.08,3.215,19.44,1.0,0,3,1
175.0,5,Hornet Sportabout,18.7,8.0,360.0,3.15,3.440,17.02,0.0,0,3,2

In [ ]:
df = pd.read_csv('./mtcars.csv')
# df['hp'].max()
# df['hp'].min()
# df['hp'].mean()
# df['hp'].median()

# df['Unnamed: 1'][df['hp'] > 150]
# columns = ['Unnamed: 1', 'mpg', 'hp']
# # df[columns][df['hp'] > 100]

# df[columns][df['hp'] == df['hp'].max()]

# count -> only true values count(eliminates the empty fields)
# df['hp'].count()

# describe
# df.describe()

# sort the data -> new_dataframe
# df = df.sort_values('hp')
# df = df.sort_values('Unnamed: 1')
# df = df.sort_values('Unnamed: 1', ascending=True) # default
# df = df.sort_values('Unnamed: 1', ascending=False)
# df = df.sort_values('gear')
# df = df.sort_values(['gear', 'Unnamed: 1'])
# df = df.sort_values(['gear', 'Unnamed: 1'], ascending=False)
# df = df.sort_values(['gear', 'Unnamed: 1'], ascending=[True, False])
df = df.sort_values(['gear', 'Unnamed: 1'], ascending=[False, True])
df

,S.No,Unnamed: 1,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
29,30,Ferrari Dino,19.7,6.0,145.0,175.0,3.62,2.770,15.50,0.0,1,5,6
28,29,Ford Pantera L,15.8,8.0,351.0,264.0,4.22,3.170,14.50,0.0,1,5,4
27,28,Lotus Europa,30.4,4.0,95.1,113.0,3.77,1.513,16.90,1.0,1,5,2
30,31,Maserati Bora,15.0,8.0,301.0,335.0,3.54,3.570,14.60,0.0,1,5,8
26,27,Porsche 914-2,26.0,4.0,120.3,91.0,4.43,2.140,16.70,0.0,1,5,2
2,3,Datsun 710,22.8,4.0,108.0,93.0,3.85,2.320,18.61,1.0,1,4,1
17,18,Fiat 128,32.4,4.0,78.7,66.0,4.08,2.200,NaN,1.0,1,4,1
25,26,Fiat X1-9,27.3,4.0,79.0,66.0,4.08,1.935,NaN,1.0,1,4,1
0,1,Mazda RX4,21.0,6.0,160.0,110.0,3.90,2.620,16.46,0.0,1,4,4
1,2,Mazda RX4 Wag,21.0,6.0,160.0,110.0,3.90,2.875,17.02,0.0,1,4,4
8,9,Merc 230,22.8,4.0,140.8,NaN,3.92,3.150,22.90,1.0,0,4,2
7,8,Merc 240D,24.4,4.0,146.7,62.0,3.69,3.190,20.00,1.0,0,4,2
9,10,Merc 280,19.2,6.0,167.6,123.0,3.92,3.440,18.30,1.0,0,4,4
10,11,Merc 280C,17.8,6.0,167.6,123.0,3.92,3.440,18.90,1.0,0,4,4
18,19,NaN,30.4,4.0,75.7,52.0,4.93,1.615,18.52,1.0,1,4,2
19,20,NaN,33.9,4.0,71.1,65.0,4.22,1.835,19.90,1.0,1,4,1
22,23,AMC Javelin,15.2,8.0,304.0,150.0,3.15,3.435,17.30,0.0,0,3,2
14,15,Cadillac Fleetwood,10.4,8.0,NaN,NaN,2.93,5.250,17.98,0.0,0,3,4
23,24,Camaro Z28,13.3,8.0,350.0,245.0,3.73,3.840,15.41,0.0,0,3,4
16,17,Chrysler Imperial,14.7,8.0,440.0,230.0,3.23,5.345,17.42,0.0,0,3,4
6,7,Duster 360,14.3,8.0,360.0,245.0,3.21,3.570,15.84,0.0,0,3,4
3,4,Hornet 4 Drive,21.4,6.0,258.0,110.0,3.08,3.215,19.44,1.0,0,3,1
4,5,Hornet Sportabout,18.7,8.0,360.0,175.0,3.15,3.440,17.02,0.0,0,3,2
15,16,Lincoln Continental,10.4,8.0,460.0,215.0,3.00,5.424,17.82,0.0,0,3,4
11,12,Merc 450SE,16.4,8.0,275.8,180.0,3.07,4.070,17.40,0.0,0,3,3
12,13,Merc 450SL,17.3,8.0,NaN,180.0,3.07,3.730,17.60,0.0,0,3,3
13,14,Merc 450SLC,15.2,8.0,NaN,180.0,3.07,3.780,18.00,0.0,0,3,3
24,25,Pontiac Firebird,19.2,8.0,400.0,175.0,3.08,3.845,17.05,0.0,0,3,2
5,6,Valiant,18.1,6.0,225.0,105.0,2.76,3.460,NaN,1.0,0,3,1
20,21,NaN,21.5,4.0,120.1,97.0,3.70,2.465,20.01,1.0,0,3,1
21,22,NaN,15.5,8.0,318.0,150.0,2.76,3.520,16.87,0.0,0,3,2
31,32,Volvo 142E,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2,3

In [ ]:
df = pd.read_csv('./mtcars.csv')
# df.head()

# rename -> new dataframe
df = df.rename(columns={
    'Unnamed: 1': 'model',
    'mpg': 'mileage',
    'qsec': 'kmph'
})
# df

# sort by column names
columns_order = df.columns.sort_values()
df[columns_order]

# create new columns
# power -> hp * disp
df['power'] = df['hp'] * df['disp']
df['color'] = 'red'
df

# drop columns
df = df.drop(columns=['cyl', 'drat'])
df

# create a new file and store the data
# df.to_csv('new_cars.csv')
df.to_excel('new_cars1.xlsx')

In [ ]:
df.iloc[0, 9] = 10

In [ ]:
df.head(1)

,S.No,model,mileage,disp,hp,wt,kmph,vs,am,gear,carb,power,color
0,1,Mazda RX4,21.0,160.0,110.0,2.62,16.46,0.0,1,10,4,17600.0,red