In [ ]:
import pandas as pd
print(pd.__version__)

1.4.2

In [ ]:
df = pd.read_csv('./mtcars.csv')
df

,S.No,Unnamed: 1,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,6.0,160.0,110.0,3.90,2.620,16.46,0.0,1,4,4
1,2,Mazda RX4 Wag,21.0,6.0,160.0,110.0,3.90,2.875,17.02,0.0,1,4,4
2,3,Datsun 710,22.8,4.0,108.0,93.0,3.85,2.320,18.61,1.0,1,4,1
3,4,Hornet 4 Drive,21.4,6.0,258.0,110.0,3.08,3.215,19.44,1.0,0,3,1
4,5,Hornet Sportabout,18.7,8.0,360.0,175.0,3.15,3.440,17.02,0.0,0,3,2
5,6,Valiant,18.1,6.0,225.0,105.0,2.76,3.460,NaN,1.0,0,3,1
6,7,Duster 360,14.3,8.0,360.0,245.0,3.21,3.570,15.84,0.0,0,3,4
7,8,Merc 240D,24.4,4.0,146.7,62.0,3.69,3.190,20.00,1.0,0,4,2
8,9,Merc 230,22.8,4.0,140.8,NaN,3.92,3.150,22.90,1.0,0,4,2
9,10,Merc 280,19.2,6.0,167.6,123.0,3.92,3.440,18.30,1.0,0,4,4
10,11,Merc 280C,17.8,6.0,167.6,123.0,3.92,3.440,18.90,1.0,0,4,4
11,12,Merc 450SE,16.4,8.0,275.8,180.0,3.07,4.070,17.40,0.0,0,3,3
12,13,Merc 450SL,17.3,8.0,NaN,180.0,3.07,3.730,17.60,0.0,0,3,3
13,14,Merc 450SLC,15.2,8.0,NaN,180.0,3.07,3.780,18.00,0.0,0,3,3
14,15,Cadillac Fleetwood,10.4,8.0,NaN,NaN,2.93,5.250,17.98,0.0,0,3,4
15,16,Lincoln Continental,10.4,8.0,460.0,215.0,3.00,5.424,17.82,0.0,0,3,4
16,17,Chrysler Imperial,14.7,8.0,440.0,230.0,3.23,5.345,17.42,0.0,0,3,4
17,18,Fiat 128,32.4,4.0,78.7,66.0,4.08,2.200,NaN,1.0,1,4,1
18,19,NaN,30.4,4.0,75.7,52.0,4.93,1.615,18.52,1.0,1,4,2
19,20,NaN,33.9,4.0,71.1,65.0,4.22,1.835,19.90,1.0,1,4,1
20,21,NaN,21.5,4.0,120.1,97.0,3.70,2.465,20.01,1.0,0,3,1
21,22,NaN,15.5,8.0,318.0,150.0,2.76,3.520,16.87,0.0,0,3,2
22,23,AMC Javelin,15.2,8.0,304.0,150.0,3.15,3.435,17.30,0.0,0,3,2
23,24,Camaro Z28,13.3,8.0,350.0,245.0,3.73,3.840,15.41,0.0,0,3,4
24,25,Pontiac Firebird,19.2,8.0,400.0,175.0,3.08,3.845,17.05,0.0,0,3,2
25,26,Fiat X1-9,27.3,4.0,79.0,66.0,4.08,1.935,NaN,1.0,1,4,1
26,27,Porsche 914-2,26.0,4.0,120.3,91.0,4.43,2.140,16.70,0.0,1,5,2
27,28,Lotus Europa,30.4,4.0,95.1,113.0,3.77,1.513,16.90,1.0,1,5,2
28,29,Ford Pantera L,15.8,8.0,351.0,264.0,4.22,3.170,14.50,0.0,1,5,4
29,30,Ferrari Dino,19.7,6.0,145.0,175.0,3.62,2.770,15.50,0.0,1,5,6
30,31,Maserati Bora,15.0,8.0,301.0,335.0,3.54,3.570,14.60,0.0,1,5,8
31,32,Volvo 142E,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2,3

In [ ]:
# clean data
df = pd.read_csv('./mtcars.csv')

# fillna -> NaN (Not a Number) -> Numpy property
# df = df.fillna(0)
# df = df.fillna({
#     'Unnamed: 1': 'no-name',
#     'hp': 0,
#     'disp': 0
# })

# df = df.fillna({
#     'Unnamed: 1': 'no-name',
#     'disp': df['disp'].mean(),
#     'hp': df['hp'].median()
# })

# fillna(methods)
# df = df.fillna(method='ffill') # forward fill
# df = df.fillna(method='bfill') # backward fill

# interpolate
# df = df.interpolate()
df

,S.No,Unnamed: 1,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,6.0,160.0,110.0,3.90,2.620,16.46,0.0,1,4,4
1,2,Mazda RX4 Wag,21.0,6.0,160.0,110.0,3.90,2.875,17.02,0.0,1,4,4
2,3,Datsun 710,22.8,4.0,108.0,93.0,3.85,2.320,18.61,1.0,1,4,1
3,4,Hornet 4 Drive,21.4,6.0,258.0,110.0,3.08,3.215,19.44,1.0,0,3,1
4,5,Hornet Sportabout,18.7,8.0,360.0,175.0,3.15,3.440,17.02,0.0,0,3,2
5,6,Valiant,18.1,6.0,225.0,105.0,2.76,3.460,NaN,1.0,0,3,1
6,7,Duster 360,14.3,8.0,360.0,245.0,3.21,3.570,15.84,0.0,0,3,4
7,8,Merc 240D,24.4,4.0,146.7,62.0,3.69,3.190,20.00,1.0,0,4,2
8,9,Merc 230,22.8,4.0,140.8,0.0,3.92,3.150,22.90,1.0,0,4,2
9,10,Merc 280,19.2,6.0,167.6,123.0,3.92,3.440,18.30,1.0,0,4,4
10,11,Merc 280C,17.8,6.0,167.6,123.0,3.92,3.440,18.90,1.0,0,4,4
11,12,Merc 450SE,16.4,8.0,275.8,180.0,3.07,4.070,17.40,0.0,0,3,3
12,13,Merc 450SL,17.3,8.0,0.0,180.0,3.07,3.730,17.60,0.0,0,3,3
13,14,Merc 450SLC,15.2,8.0,0.0,180.0,3.07,3.780,18.00,0.0,0,3,3
14,15,Cadillac Fleetwood,10.4,8.0,0.0,0.0,2.93,5.250,17.98,0.0,0,3,4
15,16,Lincoln Continental,10.4,8.0,460.0,215.0,3.00,5.424,17.82,0.0,0,3,4
16,17,Chrysler Imperial,14.7,8.0,440.0,230.0,3.23,5.345,17.42,0.0,0,3,4
17,18,Fiat 128,32.4,4.0,78.7,66.0,4.08,2.200,NaN,1.0,1,4,1
18,19,Abishek,30.4,4.0,75.7,52.0,4.93,1.615,18.52,1.0,1,4,2
19,20,Abishek,33.9,4.0,71.1,65.0,4.22,1.835,19.90,1.0,1,4,1
20,21,Abishek,21.5,4.0,120.1,97.0,3.70,2.465,20.01,1.0,0,3,1
21,22,Abishek,15.5,8.0,318.0,150.0,2.76,3.520,16.87,0.0,0,3,2
22,23,AMC Javelin,15.2,8.0,304.0,150.0,3.15,3.435,17.30,0.0,0,3,2
23,24,Camaro Z28,13.3,8.0,350.0,245.0,3.73,3.840,15.41,0.0,0,3,4
24,25,Pontiac Firebird,19.2,8.0,400.0,175.0,3.08,3.845,17.05,0.0,0,3,2
25,26,Fiat X1-9,27.3,4.0,79.0,66.0,4.08,1.935,NaN,1.0,1,4,1
26,27,Porsche 914-2,26.0,4.0,120.3,91.0,4.43,2.140,16.70,0.0,1,5,2
27,28,Lotus Europa,30.4,4.0,95.1,113.0,3.77,1.513,16.90,1.0,1,5,2
28,29,Ford Pantera L,15.8,8.0,351.0,264.0,4.22,3.170,14.50,0.0,1,5,4
29,30,Ferrari Dino,19.7,6.0,145.0,175.0,3.62,2.770,15.50,0.0,1,5,6
30,31,Maserati Bora,15.0,8.0,301.0,335.0,3.54,3.570,14.60,0.0,1,5,8
31,32,Volvo 142E,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,1,2,3

In [ ]:
df = pd.read_csv('./mtcars.csv')

# drop -> very less no of NaN
# df = df.dropna()
# df = df.dropna(how='all')
df = df.dropna(thresh=7)
df

,S.No,Unnamed: 1,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,6.0,160.0,110.0,3.90,2.620,16.46,0.0,1.0,4,4
1,2,Mazda RX4 Wag,21.0,6.0,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4,4
2,3,Datsun 710,22.8,4.0,108.0,93.0,3.85,2.320,18.61,1.0,1.0,4,1
3,4,Hornet 4 Drive,21.4,6.0,258.0,110.0,3.08,3.215,19.44,1.0,0.0,3,1
4,5,Hornet Sportabout,18.7,8.0,360.0,175.0,3.15,3.440,17.02,0.0,0.0,3,2
5,6,Valiant,18.1,6.0,225.0,105.0,2.76,3.460,NaN,1.0,0.0,3,1
6,7,Duster 360,14.3,8.0,360.0,245.0,3.21,3.570,15.84,0.0,0.0,3,4
7,8,Merc 240D,24.4,4.0,146.7,62.0,3.69,3.190,20.00,1.0,0.0,4,2
8,9,Merc 230,22.8,4.0,140.8,NaN,3.92,3.150,22.90,1.0,0.0,4,2
9,10,Merc 280,19.2,6.0,167.6,123.0,3.92,3.440,18.30,1.0,0.0,4,4
10,11,Merc 280C,17.8,6.0,167.6,123.0,3.92,3.440,18.90,1.0,0.0,4,4
11,12,Merc 450SE,16.4,8.0,275.8,180.0,3.07,4.070,17.40,0.0,0.0,3,3
12,13,Merc 450SL,17.3,8.0,NaN,180.0,3.07,3.730,17.60,0.0,0.0,3,3
13,14,Merc 450SLC,15.2,8.0,NaN,180.0,3.07,3.780,18.00,0.0,0.0,3,3
14,15,Cadillac Fleetwood,10.4,8.0,NaN,NaN,2.93,5.250,17.98,0.0,0.0,3,4
15,16,Lincoln Continental,10.4,8.0,460.0,215.0,3.00,5.424,17.82,0.0,0.0,3,4
16,17,Chrysler Imperial,14.7,8.0,440.0,230.0,3.23,5.345,17.42,0.0,0.0,3,4
17,18,Fiat 128,32.4,4.0,78.7,66.0,4.08,2.200,NaN,1.0,1.0,4,1
18,19,NaN,30.4,4.0,75.7,52.0,4.93,1.615,18.52,1.0,1.0,4,2
19,20,NaN,33.9,4.0,71.1,65.0,4.22,1.835,19.90,1.0,1.0,4,1
20,21,NaN,21.5,4.0,120.1,97.0,3.70,2.465,20.01,1.0,0.0,3,1
21,22,NaN,15.5,8.0,318.0,150.0,2.76,3.520,16.87,0.0,0.0,3,2
22,23,AMC Javelin,15.2,8.0,304.0,150.0,3.15,3.435,17.30,0.0,0.0,3,2
23,24,Camaro Z28,13.3,8.0,350.0,245.0,3.73,3.840,15.41,0.0,0.0,3,4
24,25,Pontiac Firebird,19.2,8.0,400.0,175.0,3.08,3.845,17.05,0.0,0.0,3,2
25,26,Fiat X1-9,27.3,4.0,79.0,66.0,4.08,1.935,NaN,1.0,1.0,4,1
26,27,Porsche 914-2,26.0,4.0,120.3,91.0,4.43,2.140,16.70,0.0,1.0,5,2
27,28,Lotus Europa,30.4,4.0,95.1,113.0,3.77,1.513,16.90,1.0,1.0,5,2
28,29,Ford Pantera L,15.8,8.0,351.0,264.0,4.22,3.170,14.50,0.0,1.0,5,4
29,30,Ferrari Dino,19.7,6.0,145.0,175.0,3.62,2.770,15.50,0.0,1.0,5,6
30,31,Maserati Bora,15.0,8.0,301.0,335.0,3.54,3.570,14.60,0.0,1.0,5,8

In [ ]:
# replace
df = pd.read_csv('./mtcars.csv')
# df = df.replace(0, 10)
# df = df.replace([0, 1], 10)

import numpy as np

df = df.replace({
    'gear': 0,
    'disp': 360
}, np.NaN)

# df = df.dropna()
df

,S.No,Unnamed: 1,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,6.0,160.0,110.0,3.90,2.620,16.46,0.0,1.0,4,4
1,2,Mazda RX4 Wag,21.0,6.0,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4,4
2,3,Datsun 710,22.8,4.0,108.0,93.0,3.85,2.320,18.61,1.0,1.0,4,1
3,4,Hornet 4 Drive,21.4,6.0,258.0,110.0,3.08,3.215,19.44,1.0,0.0,3,1
4,5,Hornet Sportabout,18.7,8.0,NaN,175.0,3.15,3.440,17.02,0.0,0.0,3,2
5,6,Valiant,18.1,6.0,225.0,105.0,2.76,3.460,NaN,1.0,0.0,3,1
6,7,Duster 360,14.3,8.0,NaN,245.0,3.21,3.570,15.84,0.0,0.0,3,4
7,8,Merc 240D,24.4,4.0,146.7,62.0,3.69,3.190,20.00,1.0,0.0,4,2
8,9,Merc 230,22.8,4.0,140.8,NaN,3.92,3.150,22.90,1.0,0.0,4,2
9,10,Merc 280,19.2,6.0,167.6,123.0,3.92,3.440,18.30,1.0,0.0,4,4
10,11,Merc 280C,17.8,6.0,167.6,123.0,3.92,3.440,18.90,1.0,0.0,4,4
11,12,Merc 450SE,16.4,8.0,275.8,180.0,3.07,4.070,17.40,0.0,0.0,3,3
12,13,Merc 450SL,17.3,8.0,NaN,180.0,3.07,3.730,17.60,0.0,0.0,3,3
13,14,Merc 450SLC,15.2,8.0,NaN,180.0,3.07,3.780,18.00,0.0,0.0,3,3
14,15,Cadillac Fleetwood,10.4,8.0,NaN,NaN,2.93,5.250,17.98,0.0,0.0,3,4
15,16,Lincoln Continental,10.4,8.0,460.0,215.0,3.00,5.424,17.82,0.0,0.0,3,4
16,17,Chrysler Imperial,14.7,8.0,440.0,230.0,3.23,5.345,17.42,0.0,0.0,3,4
17,18,Fiat 128,32.4,4.0,78.7,66.0,4.08,2.200,NaN,1.0,1.0,4,1
18,19,NaN,30.4,4.0,75.7,52.0,4.93,1.615,18.52,1.0,1.0,4,2
19,20,NaN,33.9,4.0,71.1,65.0,4.22,1.835,19.90,1.0,1.0,4,1
20,21,NaN,21.5,4.0,120.1,97.0,3.70,2.465,20.01,1.0,0.0,3,1
21,22,NaN,15.5,8.0,318.0,150.0,2.76,3.520,16.87,0.0,0.0,3,2
22,23,AMC Javelin,15.2,8.0,304.0,150.0,3.15,3.435,17.30,0.0,0.0,3,2
23,24,Camaro Z28,13.3,8.0,350.0,245.0,3.73,3.840,15.41,0.0,0.0,3,4
24,25,Pontiac Firebird,19.2,8.0,400.0,175.0,3.08,3.845,17.05,0.0,0.0,3,2
25,26,Fiat X1-9,27.3,4.0,79.0,66.0,4.08,1.935,NaN,1.0,1.0,4,1
26,27,Porsche 914-2,26.0,4.0,120.3,91.0,4.43,2.140,16.70,0.0,1.0,5,2
27,28,Lotus Europa,30.4,4.0,95.1,113.0,3.77,1.513,16.90,1.0,1.0,5,2
28,29,Ford Pantera L,15.8,8.0,351.0,264.0,4.22,3.170,14.50,0.0,1.0,5,4
29,30,Ferrari Dino,19.7,6.0,145.0,175.0,3.62,2.770,15.50,0.0,1.0,5,6
30,31,Maserati Bora,15.0,8.0,301.0,335.0,3.54,3.570,14.60,0.0,1.0,5,8
31,32,Volvo,NaN,NaN,4.0,2.0,NaN,NaN,NaN,NaN,NaN,2,10

In [ ]:
df = pd.read_csv('./mtcars.csv')
def double(num):
    return num * 2

# df['carb'] = df['carb'] * 2
df['carb'] = df['carb'].apply(double)

def capitalize(string):
    return string.upper()

df = df.replace({
    'Unnamed: 1': np.NaN
}, 'not available')

df['Unnamed: 1'] = df['Unnamed: 1'].apply(capitalize)
df

,S.No,Unnamed: 1,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,MAZDA RX4,21.0,6.0,160.0,110.0,3.90,2.620,16.46,0.0,1.0,4,8
1,2,MAZDA RX4 WAG,21.0,6.0,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4,8
2,3,DATSUN 710,22.8,4.0,108.0,93.0,3.85,2.320,18.61,1.0,1.0,4,2
3,4,HORNET 4 DRIVE,21.4,6.0,258.0,110.0,3.08,3.215,19.44,1.0,0.0,3,2
4,5,HORNET SPORTABOUT,18.7,8.0,360.0,175.0,3.15,3.440,17.02,0.0,0.0,3,4
5,6,VALIANT,18.1,6.0,225.0,105.0,2.76,3.460,NaN,1.0,0.0,3,2
6,7,DUSTER 360,14.3,8.0,360.0,245.0,3.21,3.570,15.84,0.0,0.0,3,8
7,8,MERC 240D,24.4,4.0,146.7,62.0,3.69,3.190,20.00,1.0,0.0,4,4
8,9,MERC 230,22.8,4.0,140.8,NaN,3.92,3.150,22.90,1.0,0.0,4,4
9,10,MERC 280,19.2,6.0,167.6,123.0,3.92,3.440,18.30,1.0,0.0,4,8
10,11,MERC 280C,17.8,6.0,167.6,123.0,3.92,3.440,18.90,1.0,0.0,4,8
11,12,MERC 450SE,16.4,8.0,275.8,180.0,3.07,4.070,17.40,0.0,0.0,3,6
12,13,MERC 450SL,17.3,8.0,NaN,180.0,3.07,3.730,17.60,0.0,0.0,3,6
13,14,MERC 450SLC,15.2,8.0,NaN,180.0,3.07,3.780,18.00,0.0,0.0,3,6
14,15,CADILLAC FLEETWOOD,10.4,8.0,NaN,NaN,2.93,5.250,17.98,0.0,0.0,3,8
15,16,LINCOLN CONTINENTAL,10.4,8.0,460.0,215.0,3.00,5.424,17.82,0.0,0.0,3,8
16,17,CHRYSLER IMPERIAL,14.7,8.0,440.0,230.0,3.23,5.345,17.42,0.0,0.0,3,8
17,18,FIAT 128,32.4,4.0,78.7,66.0,4.08,2.200,NaN,1.0,1.0,4,2
18,19,NOT AVAILABLE,30.4,4.0,75.7,52.0,4.93,1.615,18.52,1.0,1.0,4,4
19,20,NOT AVAILABLE,33.9,4.0,71.1,65.0,4.22,1.835,19.90,1.0,1.0,4,2
20,21,NOT AVAILABLE,21.5,4.0,120.1,97.0,3.70,2.465,20.01,1.0,0.0,3,2
21,22,NOT AVAILABLE,15.5,8.0,318.0,150.0,2.76,3.520,16.87,0.0,0.0,3,4
22,23,AMC JAVELIN,15.2,8.0,304.0,150.0,3.15,3.435,17.30,0.0,0.0,3,4
23,24,CAMARO Z28,13.3,8.0,350.0,245.0,3.73,3.840,15.41,0.0,0.0,3,8
24,25,PONTIAC FIREBIRD,19.2,8.0,400.0,175.0,3.08,3.845,17.05,0.0,0.0,3,4
25,26,FIAT X1-9,27.3,4.0,79.0,66.0,4.08,1.935,NaN,1.0,1.0,4,2
26,27,PORSCHE 914-2,26.0,4.0,120.3,91.0,4.43,2.140,16.70,0.0,1.0,5,4
27,28,LOTUS EUROPA,30.4,4.0,95.1,113.0,3.77,1.513,16.90,1.0,1.0,5,4
28,29,FORD PANTERA L,15.8,8.0,351.0,264.0,4.22,3.170,14.50,0.0,1.0,5,8
29,30,FERRARI DINO,19.7,6.0,145.0,175.0,3.62,2.770,15.50,0.0,1.0,5,12
30,31,MASERATI BORA,15.0,8.0,301.0,335.0,3.54,3.570,14.60,0.0,1.0,5,16
31,32,VOLVO,NaN,NaN,4.0,2.0,NaN,NaN,NaN,NaN,NaN,2,20

In [ ]:
# filtering
cylinder_greater_5 = df['cyl'] > 5
df[cylinder_greater_5]

,S.No,Unnamed: 1,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,MAZDA RX4,21.0,6.0,160.0,110.0,3.90,2.620,16.46,0.0,1.0,4,8
1,2,MAZDA RX4 WAG,21.0,6.0,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4,8
3,4,HORNET 4 DRIVE,21.4,6.0,258.0,110.0,3.08,3.215,19.44,1.0,0.0,3,2
4,5,HORNET SPORTABOUT,18.7,8.0,360.0,175.0,3.15,3.440,17.02,0.0,0.0,3,4
5,6,VALIANT,18.1,6.0,225.0,105.0,2.76,3.460,NaN,1.0,0.0,3,2
6,7,DUSTER 360,14.3,8.0,360.0,245.0,3.21,3.570,15.84,0.0,0.0,3,8
9,10,MERC 280,19.2,6.0,167.6,123.0,3.92,3.440,18.30,1.0,0.0,4,8
10,11,MERC 280C,17.8,6.0,167.6,123.0,3.92,3.440,18.90,1.0,0.0,4,8
11,12,MERC 450SE,16.4,8.0,275.8,180.0,3.07,4.070,17.40,0.0,0.0,3,6
12,13,MERC 450SL,17.3,8.0,NaN,180.0,3.07,3.730,17.60,0.0,0.0,3,6
13,14,MERC 450SLC,15.2,8.0,NaN,180.0,3.07,3.780,18.00,0.0,0.0,3,6
14,15,CADILLAC FLEETWOOD,10.4,8.0,NaN,NaN,2.93,5.250,17.98,0.0,0.0,3,8
15,16,LINCOLN CONTINENTAL,10.4,8.0,460.0,215.0,3.00,5.424,17.82,0.0,0.0,3,8
16,17,CHRYSLER IMPERIAL,14.7,8.0,440.0,230.0,3.23,5.345,17.42,0.0,0.0,3,8
21,22,NOT AVAILABLE,15.5,8.0,318.0,150.0,2.76,3.520,16.87,0.0,0.0,3,4
22,23,AMC JAVELIN,15.2,8.0,304.0,150.0,3.15,3.435,17.30,0.0,0.0,3,4
23,24,CAMARO Z28,13.3,8.0,350.0,245.0,3.73,3.840,15.41,0.0,0.0,3,8
24,25,PONTIAC FIREBIRD,19.2,8.0,400.0,175.0,3.08,3.845,17.05,0.0,0.0,3,4
28,29,FORD PANTERA L,15.8,8.0,351.0,264.0,4.22,3.170,14.50,0.0,1.0,5,8
29,30,FERRARI DINO,19.7,6.0,145.0,175.0,3.62,2.770,15.50,0.0,1.0,5,12
30,31,MASERATI BORA,15.0,8.0,301.0,335.0,3.54,3.570,14.60,0.0,1.0,5,16

In [ ]:
# joining or merging the df
A = pd.DataFrame({
    'color': ['red', 'green', 'yellow'],
    'stock': [1, 2, 3]
})

A

    color  stock
0     red      1
1   green      2
2  yellow      3

In [ ]:
B = pd.DataFrame({
    'color': ['yellow', 'green', 'pink'],
    'sizes': ['small', 'medium', 'large']
})

B

    color   sizes
0  yellow   small
1   green  medium
2    pink   large

In [ ]:
A = pd.DataFrame({
    'color': ['red', 'green', 'yellow'],
    'stock': [1, 2, 3],
})

B = pd.DataFrame({
    'tshirt': ['yellow', 'green', 'pink'],
    'sizes': ['small', 'medium', 'large'],
})

# pd.merge(A, B) # inner join
# pd.merge(A, B, on='color')
# pd.merge(A, B, on='places')
# pd.merge(A, B, how='inner')
# pd.merge(A, B, how='outer')
# pd.merge(A, B, how='left')
# pd.merge(A, B, how='right')
# pd.merge(A, B, left_on='color', right_on='tshirt')
# SELECT * FROM A JOIN B ON A.color = B.tshirt

    color  stock  tshirt   sizes
0   green      2   green  medium
1  yellow      3  yellow   small

In [ ]:
# prime numbers
nums = [1, 2, 4, 5, 7, 9, 10]
# 2, 5, 7

def check_prime(num):
    if(num < 2): return False
    elif (num == 2): return True
    else:
        for i in range(2, num):
            if(num % i == 0): return False
        return True

prime_nos = []
for num in nums:
    if(check_prime(num)):
        prime_nos.append(num)

print(prime_nos)

[2, 5, 7]